#priceContainer {
    display: flex;
    gap: 5px;
}

.priceCols {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#filters {
    border-right: 2px solid #ddd;
    padding-right: 10px;
    height: 100vh;
}

#items {
    margin-top: 20px;
    max-height: 800px;
    overflow-y: auto;
}

#loadMore {
    display: 'none';
}

#loadMore {
    display: block;
}

#applyFilters:hover {
    background-color:rgb(138, 43, 226);
}